// COLORS
$color-primary: #1D1160;
$color-primary-light: #A239CA;
$color-primary-dark: #28b485;

$color-secondary: #00788C;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #2d3032;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$margin-top-medium: 4rem;


// FONT
$default-font-size: 1.6rem;
$fontSize-3: 3rem;
$fontSize-2_5: 2.5rem;
$fontSize-2: 2rem;
$fontSize-small: 1rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Boarders
$border-radius-small: 5px;