.card {
    width: 25rem;
    background-color: red;
    border-radius: 5px;
    height: 40rem; // temporary
    font-size: $default-font-size;

    &__side {

        &--front {

        }

        &--back {

        }
    }


    &__picture {

    }

    &__details {

    }
}